html,
body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

.page-wrapper {
	.display-flex();
	.flex-direction(column);
	min-height: 100vh;
}

.page-body {
	.flex-grow(1);
  padding: 100px 0;
}

.page-body-inner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1000px;
}