extends layout

block content
  .container-fluid
    .row
      .col-md-4
        .controls
          .row
            h1 libp2p <3 ethereum
          .row
            button(text="start")
            button(text="final reveal")

          .row.accounts
            h2 accounts
          .row.peers
            h2 peers

      .col-md-4
        .blocks
          h2 blocks
          hr
          .block
            p block1
          .block
            p block1
          .block
            p block1
          .block
            p block1

      .col-md-4
        .transactions
          h2 transactions
          hr
          .transaction
            p tx
          .transaction
            p tx
          .transaction
            p tx
          .transaction
            p tx
