doctype html
html(lang='en')
  head
    title libp2p <3 ethereum
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='ethereum-libp2p')

    link(rel='icon', type='image/png', href='/img/favicon.ico')


  body
    include includes/header
    block content
    include includes/footer

    script(src='/js/analytics.js')
    script(src='/js/index.js')
